<h1><%= @animal.name %></h1>
<p><%= @animal.age %></p>
<p><%= @animal.hair_color %></p>
<p><%= @animal.eye_color %></p>
<p><%= @animal.gender %></p>
<p><%= @animal.alive %></p>
<%= link_to 'Back', animals_path %>
